:root {
    --font-primary: "ClashDisplay-Variable", sans-serif;
    --font-secondary: "League Gothic", sans-serif;
    --font-c-primary: #EEEEEE;
    --font-c-secondary: #D5FF3F;
    --bg-c-primary: #131313;
    --bg-c-secondary: #D5FF3F;
  }
  
  @media (prefers-color-scheme: dark) {

  }
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  p a {
    display: inline;
  }

  li {
    list-style-type: none;
  }

  html {
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg {
    display: block;
    fill: currentColor;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: var(--font-primary);
    font-weight: 600;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */ 
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-c-primary);
    color: var(--font-c-primary);
  }
  .Header{
    width: 100%;
  }
  .Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5rem;
  }
  .Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
  }
  .Nav-li{
    padding: 1rem 0;
    font-size: 1.0625rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  .Section{
    padding: 0 5rem;
  }
  .Hero{
    height: calc(100vh - 92.44px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Hero-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .Title-wrapper{
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .Hero-h1{
    font-family: var(--font-secondary);
    font-size: 12.5rem;
    text-transform: uppercase;
    line-height: 10rem;
    font-weight: 400;
  }
  .Hero-h2{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--font-c-secondary);
  }
  .Photo-wrapper{
    position: relative;
  }
  .Photo-picture{
    background-color: red;
    max-width: 306px;
    height: 420px;
    border-radius: 1.5rem;
    transform: rotate(6.33deg);
  }
  .Photo-shadow{
    position: absolute;
    background-color: var(--bg-c-secondary);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotate(6.33deg) translate(-30px , 30px);
    background-color: transparent;
    border: 1px solid var(--font-c-secondary);
    border-radius: 1.5rem;
    z-index: -1;
  }
  .Projects-wrapper{
    padding: 2.5rem 0;
  }
  .H2{
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 4rem;
    font-weight: 400;
  }
  .H2::after{
    content: ".";
    color: var(--font-c-secondary);
  }
  .Projects-ul{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }
  .Projects-li{
    background-color: red;
  }
  .Projects-li:first-child{
    grid-column: span 2;
  }
  .Projects-li:nth-child(4){
    grid-column: span 2;
  }
  .Projects-li:nth-child(5){
    grid-column: span 2;
  }
  .Projects-picture{
    height: 100%;
  }
  .Projects-img{
    height: 100%;
  }
