:root {
    --font-primary: "ClashDisplay-Variable", sans-serif;
    --font-secondary: "League Gothic", sans-serif;
    --font-c-primary: #EEEEEE;
    --font-c-secondary: #D5FF3F;
    --font-c-tertiary: #131313;
    --bg-c-primary: #131313;
    --bg-c-secondary: #D5FF3F;
    --bg-c-tertiary: #EEEEEE;
    --bg-c-kudi: #9C27F7;
    --bg-c-digital: #8681E8;
    --bg-c-brands: #49812C;
    --bg-c-offday: #D0CA13;
    --bg-c-sunnyside: #3EBFFC;
    --bg-c-loopstudios: #C56AD0;
    --bg-c-countries: #F25B25;
    --bg-c-triage: #FF2C55;
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  p a {
    display: inline;
  }

  li {
    list-style-type: none;
  }

  html {
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg {
    display: block;
    fill: currentColor;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    min-height: 100vh;
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: 600;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */ 
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-c-primary);
    color: var(--font-c-primary);
  }
  .Header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #131313;
    top: 0;
  }
  .Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5rem;
    width: 100%;
  }
  .Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 3.125rem;
  }
  .Nav-li{
    padding: 1rem 0;
    font-size: 1.0625rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  .Nav-link{
    transition: all .5s ease;
  }
  .Nav-link:hover{
    color: var(--font-c-secondary);
  }
  .Nav-link.onView{
    font-weight: 600;
    color: var(--font-c-secondary);
  }
  .Nav-link.onView::after{
    content: ".";
    color: var(--font-c-secondary);
  }
  .Btn-wrapper{
    padding: 1.25rem;
    display: none;
  }
  .Section{
    padding: 0 5rem;
    width: 100%;
  }
  .Hero{
    min-height: calc((100vh - 93px));
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 93px 0 0;
  }
  .Hero-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .Title-wrapper{
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .Hero-h1{
    font-family: var(--font-secondary);
    font-size: 12.5rem;
    text-transform: uppercase;
    line-height: 10rem;
    font-weight: 400;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .H1-span{
    width: auto;
  }
  .Hero-h2{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--font-c-secondary);
    width: 100%;
  }
  .Photo-wrapper{
    transform: rotate(6.33deg);
    position: relative;
  }
  .Photo-wrapper::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: .0625rem solid var(--font-c-secondary);
    position: absolute;
    transform: translate(-1.875rem , 1.875rem);
    border-radius: 1.5rem;
    z-index: -1;
  }
  .Photo-picture{
    border-radius: 1.5rem;
    height: 100%;
    max-width: 100%;
  }
  .Photo-img{
    border-radius: 1.5rem;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .Projects-wrapper{
    padding: 5.775rem 0;
  }
  .H2{
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 4rem;
    font-weight: 400;
  }
  .H2::after{
    content: ".";
    color: var(--font-c-secondary);
  }
  .Projects-ul{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }
  .Projects-li{
    position: relative;
  }
  .Projects-li:first-child > .Project-wrapper{
    background-color: var(--bg-c-kudi);
  }
  .Projects-li:nth-child(2) > .Project-wrapper{
    background-color: var(--bg-c-digital);
  }
  .Projects-li:nth-child(3) > .Project-wrapper{
    background-color: var(--bg-c-brands);
  }
  .Projects-li:nth-child(4) > .Project-wrapper{
    background-color: var(--bg-c-offday);
  }
  .Projects-li:nth-child(5) > .Project-wrapper{
    background-color: var(--bg-c-sunnyside);
  }
  .Projects-li:nth-child(6) > .Project-wrapper{
    background-color: var(--bg-c-loopstudios);
  }
  .Projects-li:nth-child(7) > .Project-wrapper{
    background-color: var(--bg-c-countries);
  }
  .Projects-li:nth-child(8) > .Project-wrapper{
    background-color: var(--bg-c-triage);
  }
  .Projects-li:first-child{
    grid-column: span 2;
  }
  .Projects-li:nth-child(4){
    grid-column: span 2;
  }
  .Projects-li:nth-child(5){
    grid-column: span 2;
  }
  .Projects-li:nth-child(8){
    grid-column: span 2;
  }
  .Projects-picture{
    height: 100%;
  }
  .Projects-img{
    height: 100%;
  }
  .Project-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
  }
  .Projects-li:hover .Project-wrapper{
    opacity: 1;
    pointer-events: all;
  }
  .Project-h3{
    font-size: 4rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 400;
  }
  .Project-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .Project-a{
    background-color: var(--bg-c-primary);
    padding: .9375rem;
    border: 1px solid var(--bg-c-tertiary);
    transition: background-color .5s ease;
  }
  .Project-a:hover{
    background-color: var(--bg-c-tertiary);
    border: 1px solid var(--bg-c-primary);

  }
  .Project-svg > path{
    transition: fill .5s ease;
  }
  .Project-a:hover .Social-svg > path{
    fill: var(--font-c-tertiary);
  }
  .Abilities-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 0 0;
  }
  .Abilities-group{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
  .Abilities-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .Abilities-h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-c-secondary);
  }
  .Abilities-h4{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .Abilities-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
  }
  .About-h2{
    padding: 5.775rem 0;
  }
  .About-wrapper{
    padding: 0 0 4.4375rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
  }
  .About-paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
  }
  .About-picture{
    height: 100%;
    min-width: 27.3125rem;
  }
  .About-img{
    object-fit: cover;
    border-radius: .625rem;
  }
  .Footer{
    background-color: var(--bg-c-secondary);
    color: var(--font-c-tertiary);
  }
  .Footer-wrapper{
    padding: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .Contact-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .Footer-h5{
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--font-secondary);
  }
  .Footer-span{
    font-weight: 400;
    font-size: 1.5rem;
  }
  .Social-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
  }
  .Social-a{
    background-color: var(--bg-c-primary);
    padding: .9375rem;
    border: 1px solid var(--bg-c-primary);
    transition: background-color .5s ease;
  }
  .Social-a:hover{
    background-color: var(--bg-c-tertiary);
  }
  .Social-svg > path{
    transition: fill .5s ease;
  }
  .Social-a:hover .Social-svg > path{
    fill: var(--font-c-tertiary);
  }

  @media (max-width:1170px){
    .Hero-h1{
      font-size: 11.25rem;
    }
  }

  @media (max-width:1080px){
    .Header-wrapper{
      padding: 1rem;
    }
    .Hero-wrapper{
      flex-direction: column-reverse;
      gap: 3.125rem;
    }
    .Hero-section{
      min-height: calc(100vh - 5.5rem);
    }
    .Title-wrapper{
      text-align: center;
    }
    .Hero-h1{
      font-size: 9rem;
      line-height: .8;
    }
    .Section{
      padding: 0 1rem;
    }
    .Photo-wrapper{
      transform: rotate(0);
      border: solid 1px var(--bg-c-secondary);
      border-radius: 1.5rem;
    }
    .Photo-wrapper::before{
      display: none;
    }
    .Footer-wrapper{
      padding: 5rem 1rem;
    }
  }

  @media (max-width:920px){
    .Title-wrapper{
      text-align: center;
    }
    .Hero-h2{
      width: 100%;
    }
    .About-wrapper{
      flex-direction: column-reverse;
    }
    .About-picture{
      height: 100%;
    }
    .About-img{
      margin: 0 auto;
      height: 100%;
      max-width: 21.4375rem;
    }
  }

  @media (max-width:768px){
    .Nav{
      display: none;
    }
    .Btn-wrapper{
      display: block;
    }
    .H2{
      text-align: center;
    }
  }

  @media (max-width: 680px){
    .Projects-ul{
      grid-template-columns: 1fr;
      padding: 2rem 0 2.5rem;
    }
    .Projects-li:first-child{
      grid-column: unset;
    }
    .Projects-li:nth-child(4){
      grid-column: unset;
    }
    .Projects-li:nth-child(5){
      grid-column: unset;
    }
    .Projects-li:nth-child(8){
      grid-column: unset;
    }
    .Projects-li.Projects-li > .Project-wrapper{
      background: rgb(213,255,63);
      background: linear-gradient(0deg, rgba(213,255,63,1) 16%, rgba(213,255,63,0.33939513305322133) 34%, rgba(213,255,63,0) 58%);
    }
    .Project-wrapper{
      top: initial;
      bottom: 0;
      width: 100%;
      opacity: 1;
      pointer-events: all;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-end;
    }
    .Name-wrapper{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      color: var(--font-c-tertiary);
    }
    .Abilities-container{
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
    }
    .Abilities-group{
      width: 100%;
      align-items: center;
    }
    .Abilities-ul{
      width: 100%;
      align-items: center;
    }
    .Footer-wrapper{
      flex-direction: column;
      padding: 1.5rem 1rem;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }
  @media (max-width:620px){
    .Hero-h1{
      font-size: 8.75rem;
      line-height: .8;
    }
  }

  @media (max-width: 560px){
    .About-picture{
      min-width: initial;
    }
    .About-img{
      margin: 0;
      max-width: initial;
      width: 100%;
    }
    .Project-h3{
      font-size: 2rem;
    }
    .Project-a{
      padding: .5625rem;
    }
    .Project-a:hover{
      background-color: var(--bg-c-primary);
    } 
    .Project-a:hover .Social-svg > path{
      fill: var(--font-c-primary);
    }
  }

  @media (max-width: 480px){
    .Hero-h1{
      font-size: 8rem;
    }
    .Hero-h2{
      font-size: 1.75rem;
    }
    .About-paragraph{
      font-size: 1.0625rem;
    }
    .Footer-h5{
      font-size: 2rem;
    }
    .Footer-span{
      font-size: 1.0625rem;
    }
  }
  
  @media (max-width: 440px){
    .Hero-h1{
      font-size: 108px;
    }
    .Hero-h2{
      font-size: 24px;
    }
    .About-paragraph{
      font-size: 1.0625rem;
    }
    .Footer-h5{
      font-size: 2rem;
    }
    .Footer-span{
      font-size: 1.0625rem;
    }
  }

  @media (max-width:373px){
    .Hero-h1{
      font-size: 6rem;
    }
    .Hero-h2{
      font-size: 20px;
    }
  }

  @media (max-width:350px){
    .Hero-h1{
      font-size: 5.5rem;
    }
  }